/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: grey;
  background-image: url("../img/butter.png");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.centered-block {
  position: absolute;
  top : 20%;
  left : 44%;
}
.centered-block a {
  color : grey;
  background-color: #ffd700;
}